<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
  <header>
    <h1>Car Specifications</h1>
  </header>

  <main>
    <h2><%= car.name %></h2>
    <table>
      <tr>
        <th>Engine</th>
        <td><%= car.engine %></td>
      </tr>
      <tr>
        <th>Power</th>
        <td><%= car.power %></td>
      </tr>
    </table>
  </main>

  <footer>
    &copy; 2025 spekmobil
  </footer>
</body>
</html>